@font-face {
    font-family: 'Jungle_Roar';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/Jungle_Roar_Bold.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

body {
    background: #00211c;
    font-family: 'Jungle_Roar';

}

.header {
    z-index: 1000;
    border-bottom: 2px solid #9C27B0;
}

.bg-header {
    background: linear-gradient(135deg, #FF5722, #FFFF00, );
    background-color: #181818d7, ;
}


.header ul {
    transition: all .2s ease-out;
    overflow: visible;

}

.header .ul-mobile {
    transition: all .1s ease-out;
    overflow: hidden;

}

.header ul a {
    display: block;
    padding: 5px 50px;
    transition: all .2s ease-out;

}

.header ul a:hover {
    border-radius: 5px;
    background-color: #000000c0;
    transition: all .2s ease-out;
}


.header ul .dropdown-toggle:hover {
    /* border-radius: 10px; */
    background-color: #000000c0;
    width: 100%;
    transition: all .2s ease-out;

}

.header .logo {
    font-size: 25px;
    padding: 7px 15px;
}

.header .menu {
    clear: both;
    max-height: 0px;
    transition: max-height 0.2s ease-out;


}

.header .menu-btn {
    display: none;
}

.header .menu-icon {
    padding: 20px 25px;
    position: relative;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background-color: #A4C639;
    transition: background-color 0.3s ease-out;
    width: 15px;
    height: 2px;
    position: relative;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
    background-color: #A4C639;
    content: "";
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-out;
    position: absolute;
}

.header .menu-icon .nav-icon::before {
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    top: -5px;
}

.header .menu-icon.open .nav-icon::before {
    transform: rotate(45deg);
    top: 0;
}

.header .menu-icon.open .nav-icon::after {
    transform: rotate(-45deg);
    top: 0;

}

.header .menu .dropdown-toggle {
    display: flex;
    align-items: center;

}

.header .menu .dropdown-toggle .profile-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 2rem;
}

.header .input-search {
    max-width: 140px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid;
    background-color: #f7f7f7;
    color: #FF5722;
    border-color: #9C27B0;
}

.header .input-search:focus {
    outline: none;
    /* Rimuove l'outline predefinito */
    border-color: #FF5722;

}

.header .input-search::placeholder {
    color: var(--random-color);
    opacity: 80%;

}

.navbar-lg {
    position: relative;
    z-index: 9999;

    flex: 1;
}

.navbar-lg .menu-2 {
    justify-content: center;


}

.header .menu-2 .profile-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 2rem;

}

.link-navbar-lg:hover {
    background-color: #000000c0;
    transition: all .2s ease-out;

}

.profile-image:hover,
.fb-icon:hover,
.twitter-icon:hover,
.insta-icon:hover,
.linkedin-icon:hover {
    box-shadow: 1px 1px 2px 2px black;
    transform: scale(1.2);
    border-radius: 100%;
}

.insta-icon:hover {
    border-radius: 30%;
}

.linkedin-icon:hover {
    border-radius: 10%;
}

.profile-image:hover {
    transform: scale(1.3);

}

.custom-dropdown .dropdown-toggle {
    color: #A4C639;

}

.custom-dropdown {
    transition: all .2s ease-out;
    cursor: pointer;

}

.custom-dropdown :hover {
    background-color: #000000c0;
    transition: all .3s ease-out;
    color: #FF5722;
}

.bg-home,
.bg-home-ranking {
    background: linear-gradient(135deg, #FF5722, #FFFF00);

}

.bg-home-ranking {
    height: 100vh;
}

.bg-elements {
    background-color: #181818d7;
}

.icons-color {
    transition: all .2s ease-out;
    color: #A4C639;
}

.icons-color :hover {
    transition: all .2s ease-out;
    color: #9C27B0;
}


.text-link {
    color: #f1f1f1e1;
}

.special-text-link {
    transition: all .2s ease-out;
    color: #9C27B0;
    cursor: pointer;
}

.elements {
    background-color: #9C27B0;
    height: 3px;
}

.elements:hover {
    background-color: #A4C639;
}

.footer {
    border-top: 2px solid #9C27B0;
}

.special-text-link:hover {
    color: var(--random-color);
    transition: all .1s ease-out;
}

/* Definizione delle variabili per i colori */
:root {
    --random-color: #FF5722, #A4C639, #9C27B0;
    /* Elenco dei colori */

}

.dropdown-custom-hover {

    transition: all .2s ease-out;
}

.dropdown-custom-hover:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.friend-container {
    width: 10rem;
    right: 0;
    position: sticky;
    bottom: 0;
    background-color: #181818d7;
    padding: 4px;
    border: 2px solid #9C27B0;
    transition: all 0.3s ease;
    border-radius: .2rem;
    z-index: 1000;
}

.friend-list-container {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;


}

.friend-list-container::-webkit-scrollbar {
    width: 8px;
    /* Larghezza sottile */

}

.friend-list-container::-webkit-scrollbar-thumb {
    background-color: #A4C639;
    /* Colore del pollice */
}

.friend-list-container::-webkit-scrollbar-track {
    background-color: #a5c63970;
    /* Colore della traccia */

}



.friend-container.open {
    transition: all .5s ease-out;
    /* Altezza desiderata sopra la navbar */
}

.friend-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #f7f7f7;
}

.friend-content {
    margin-top: 10px;

}

.friend-content-element {
    color: #A4C639;
    white-space: nowrap;
}

.friend-content-element:hover {
    color: #FF5722;


}


.friend-list-icon {

    transition: all .3s ease-out;
}

.friend-list-icon:hover {
    transform: scale(1.2);
    transition: all .3s ease-out;
}

.arrow {
    transition: transform .5s ease;
}

.custom-dropdown-friends {
    transition: all .2s ease-out;
}

.custom-dropdown-friends :hover {
    background-color: #000000c0;
    transition: all .3s ease-out;
    color: #FF5722;
}

.game-container {
    border: 2px solid #9C27B0;
    box-shadow: 10px 10px 25px 1px black;

}

/* @media (min-width: 2015px) {
    .game-container-size {
        width: 133rem;
    }
} */


.news-container {
    border: 2px solid #9C27B0;
    box-shadow: 10px 10px 25px 1px black;

}

.hero-container {
    border: 2px solid #9C27B0;
    box-shadow: 10px 10px 25px 1px black;


}


.drop-lg {

    z-index: 1000000;
}

.img-ranking {
    top: 1.3rem;
    right: -1.8rem;
}

.img-game {
    rotate: 45deg;
    top: -2rem;
    right: 0;
    position: absolute;
}

.img-hero {
    top: 0;
    right: 0rem;
}

@media (min-width: 1399px) {
    .img-hero {
        right: 26rem;
    }
}

.img-filters {
    right: -1.3rem;
    bottom: -2.5rem;
}

.img-filters-2 {
    right: -.6rem;
    bottom: -1.1rem;
}

.btn-filter {
    background-color: transparent;
}

.btn-filter:hover {
    border-color: #A4C639;
    background-color: #00000036;

}

.img-news {
    top: -2.5rem;
    right: 0;
}

@media (min-width: 600px) and (max-width: 766px) {
    .img-news {
        right: 6rem;
    }
}

.title-news {
    color: #9C27B0;
}

.img-star-rates {
    cursor: pointer;
}

.img-star-rates .star {
    opacity: 0.2;
}

.img-star-rates .star:hover,
.img-star-rates .star.selected-star {
    opacity: 1;
}

.game-img {
    cursor: pointer;
    border-radius: 10%;
    transition: all .2s ease-in-out;
    opacity: 70%;

}

.game-img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    box-shadow: 1px 7px 10px 1px #A4C639;
    opacity: unset;
}

.img-antenna {
    top: -3.6rem;
    right: 0;
}

.game-title {
    display: none;
}

.game-card:hover .game-title {
    display: block;
}

.game-card {
    position: relative;
}

.game-title {
    position: absolute;
    top: 78%;
    left: 63.1%;
    transform: translate(-50%, -50%);
    background-color: #FF5722;
    color: white;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25%;
    box-shadow: 0px 0px 10px 0px black;
    border: 1px solid #9C27B0;
}

.game-card:hover .game-title {
    opacity: 1;
}

.divisori {
    color: #A4C639;


}

.shadow-vip {
    box-shadow: 4px 4px 3px 3px #A4C639;

}

.btn-vip {
    border-color: #A4C639;
    background-color: #00000036;
    color: #9C27B0;
    opacity: 70%;
}

.btn-vip:hover {
    box-shadow: 0px 3px 2px 1px #A4C639;
    color: #9C27B0;
    background-color: #0000007c;
    opacity: unset;
}

.crown-vip,
.crown-vip-mobile {
    top: -0.95rem;
    left: 0.2rem;
}

.crown-vip-mobile {
    top: -0.75rem;
    left: 1rem;
}

@media (min-width: 320px) {
    .img-game-details {
        right: -3.2rem;
        top: -3.3rem;
    }
}

@media (min-width: 767px) {
    .img-game-details {
        right: -2rem;
        top: -3.3rem;
    }
}

@media (min-width: 1300px) {
    .img-game-details {
        right: 0rem;
        top: 1rem;
    }
}


.img-cover,
.img-cover-2 {
    height: 99.9%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 95%;
}

.img-cover-mobile {
    top: -1rem;
    right: -1rem;
    z-index: 1;

    object-fit: cover;

}

.img-cover-2 {
    opacity: unset;
}

.background-image,
.background-img-profile {
    z-index: 1;
}

.img-border {
    border: 1px solid #9C27B0;
}

.btn-modal {
    background-color: transparent;
    border-color: #A4C639;
    right: .5rem;
    top: .5rem;
}


.btn-modal-2 {
    background-color: rgba(0, 0, 0, 0.619);
    border-color: #A4C639;
    left: .5rem;
    top: .5rem;
}

.btn-modal-game {
    background-color: transparent;
    border-color: #A4C639;
    right: 7.5rem;
    top: .9rem;
}

.login-btn,
.signup-btn {
    cursor: pointer;
    border: 1px solid #9C27B0;
}

.login-btn {
    background-color: #a5c639a8;
}

.login-btn:hover {
    background-color: #A4C639;
    box-shadow: 0px 5px 10px 0px black;
    color: #FF5722;
    transform: scale(1.3);
    transition: all .2s ease-in-out;
}

.signup-btn {
    background-color: #ff56227c;

}

.signup-btn:hover {
    background-color: #FF5722;
    color: #A4C639;
    box-shadow: 0px 5px 10px 0px black;
    transform: scale(1.3);
    transition: all .2s ease-in-out;

}

.green-text {
    color: #A4C639;
}


.orange-text {
    color: #FF5722;
}

/*----------------------- hero section -------------------------------- */

.img-hero-snake {
    left: -2rem;
    bottom: -3.7rem;
}

.hero-img {
    bottom: -3.2rem;
    right: .5rem;
    width: 150px
}

.hero-king {
    top: -9.1rem;
    right: -.6rem;
    width: 150px
}

@media (min-width: 320px) and (max-width: 760px) {
    .hero-img {
        right: .3rem;
        width: 113px
    }
}

/* -------------------form and accordion---------------------------------------------- */

.form-container {
    box-shadow: 10px 10px 25px 1px black;
    background-color: transparent;
    border-color: #9C27B0;
    color: #f7f7f7;
}


.form-container:focus {
    outline: none;
    border-color: #A4C639;

    background-color: transparent;
    color: #f7f7f7;

}

.form-container::placeholder {
    opacity: 80%;
    color: #f7f7f7;
}

.accordion-body {
    background-color: transparent;
    color: #f7f7f7;
}

.accordion-header {
    color: #9C27B0;
}

.bg-card-container {
    background-image: url("https://th.bing.com/th/id/OIG.lm8BqXDrYwK9.kgQbrlh?pid=ImgGn");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.bg-card-container:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.accordion-button {}

/* --------------------snake--------------------------- */

.Board {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 210px;
    background-color: lightgray;
}

.Cell {
    width: 21px;
    height: 21px;
    border: 1px solid black;
}

@media (min-width: 500px) {
    .Board {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 500px) {
    .Cell {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 700px) {
    .Board {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 700px) {
    .Cell {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1000px) {
    .Board {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 1000px) {
    .Cell {
        width: 40px;
        height: 40px;
    }
}

.Row {
    display: flex;
    flex-direction: row;
}

.Snake {
    background-color: green;
}

.Food {
    background-color: red;
}


/* ---------------chess---------------- */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.title-center {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.overlay-alert {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.414);
    transition: opacity 0.3s, transform 0.3s;
}

.overlay-alert.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.overlay-alert:hover {
    box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.504);
}

/* Customize React Bootstrap classes */
.alert {
    margin-bottom: 0;
    /* Remove default margin-bottom */
}

.btn-outline-success {
    margin-top: 10px;
    border-radius: 20rem;
    box-shadow: 2px 2px 1px 0px gray;
    border: 0;
    font-weight: bold;
}

.btn-outline-success:hover {
    box-shadow: 4px 4px 2px 0px gray;
    background-color: black;
    color: white;
    transition: 0.1;
    transform: scale(1.1);
    cursor: pointer;
}

.square-55d63 {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;

    &.selected {
        background-color: rgba(255, 255, 0, 0.5);
    }

    &.highlight1,
    &.highlight2 {
        background-color: rgba(255, 255, 0, 0.5);
    }
}


@media (min-width: 576px) {
    .games-container {
        width: 30rem;
    }
}

@media (min-width: 991px) {
    .games-container {
        width: 50rem;
    }
}

@media (min-width: 1196px) {
    .games-container {
        width: 50rem;
    }
}

/* -------------------review----------------------- */

.img-review {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.img-review:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.15);
}